Source: nota
Section: utils
Priority: optional
Build-Depends: cmake,
               debhelper,
               extra-cmake-modules,
               libkf5config-dev (>= 5.24.0~),
               libkf5coreaddons-dev (>= 5.24.0~),
               libkf5i18n-dev (>= 5.24.0~),
               libkf5kio-dev,
               libkf5notifications-dev (>= 5.24.0~),
               libkf5service-dev (>= 5.24.0~),
               libkf5syntaxhighlighting-dev,
               libmauikitfilebrowsing-dev,
               libqt5svg5-dev,
               mauikit-dev,
               qtbase5-dev (>= 5.5.0~),
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev
Standards-Version: 4.2.1
Homepage: https://invent.kde.org/maui/nota/
Vcs-Git: https://invent.kde.org/maui/nota.git
Vcs-Browser: https://invent.kde.org/maui/nota/
Maintainer: Uri Herrera <uri_herrera@nxos.org>

Package: nota
Architecture: any
Depends: qml-module-org-kde-mauikit,
         qml-module-qt-labs-platform,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Maui Multi-platform text editor
 Nota is a multi-platform text editor that works on desktops, Android and Plasma Mobile.
 Nota lets you edit text documents and also has syntax highlight.
